* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #ff9a4b;
  height: 50px;
}

main{
  width: 960px; 
  display: flex; 
  justify-content: center; 
  margin: 0 auto; 
  padding: 50px 0; 
}

.section{
  width: 300px;
  position: relative;
  background-color: #EEEEEE;
  margin-right: 30px;
  padding: 10px;
}

.section:last-child{
  margin-right: 0;
}

.step{
  display: inline-block;
  padding: 3px;
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.img1{
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.img2{
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.img3{
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.section h3{
  margin-top: 15px;
  margin-bottom: 5px;
}

footer{
  background-color: #aaaaaa;
  height: 50px;
}

@media screen and (max-width: 768px) {
  header,
  footer{
    width: 100%;
  }

  main{
    width: 90%;
    flex-direction: column;
  }

  .section{
    width: 100%;
    margin-bottom: 20px;
  }

  .section:last-child{
    margin-bottom: 0;
  }

}